<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        .content-wrapper {
            width: 850px;
            height: 520px;
            border: 1px solid #afafaf;
            margin: 50px auto 0;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="content-wrapper">
        <h1>{{g.user.username}}'s profile</h1>
        <p>Your unique id is #{{g.user.id}}</p>
    </div>
</body>
</html>